.hostels-display .gallery-heading h1 {
  font-size: 1.8rem;
  font-weight: bolder;
}
.gallery {
  margin-top: 1.7rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Adjusted for responsiveness */
  gap: 2rem; /* Reduced gaps for cleaner layout */
}
#gallery {
  scroll-margin-top: 6rem;
}
.gallery .gallery-innerbox {
  position: relative;
  cursor: pointer;
}
.gallery .gallery-innerbox img {
  height: 22rem;
  border-radius: 1rem;
}
.gallery .gallery-innerbox a {
  color: var(--clr-midnight-blue);
}
.gallery .gallery-innerbox .inner-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%;
  border-radius: 1rem;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center the button vertically */
  align-items: center; /* Center the button horizontally */
  background: rgba(40, 40, 42, 0.5); /* Semi-transparent overlay */
  opacity: 0; /* Initially hidden */
  transition: var(--transition);
}

.gallery .gallery-innerbox:hover .inner-text {
  opacity: 1; /* Show overlay on hover */
}

.gallery .gallery-innerbox h4 {
  position: absolute; /* Independent positioning */
  top: 1rem; /* Position it near the top */
  background: var(--clr-black);
  color: var(--clr-white);
  width: fit-content;
  padding: 0.6rem;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  z-index: 2; /* Ensure it appears above the overlay */
}

.gallery .gallery-innerbox .inner-text a {
  display: block; /* Ensure the button is visible */
  padding: 0.5rem 1rem; /* Button padding */
  background: var(--clr-white);
  color: var(--clr-black);
  border-radius: var(--radius);
  text-align: center;
  transition: var(--transition);
  z-index: 1; /* Button below the name */
}

.gallery .gallery-innerbox .inner-text a:hover {
  background: var(--clr-black);
  color: var(--clr-white);
}

/* .gallery .gallery-innerbox .inner-text h4 {
  background: var(--clr-black);
  color: var(--clr-white);
  margin-top: 2rem;
  width: fit-content;
  padding: 0.6rem;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
} */

.gallery .gallery-innerbox .instagramlink {
  margin-top: 0.7rem;
  display: flex;
  gap: 0.3rem;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(
      auto-fit,
      minmax(150px, 1fr)
    ); /* Responsive adjustment */
    gap: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
    width: 90vw;
    gap: 1rem;
  }
}
