:root {
  --clr-white: #fff;
  --clr-black: #222;
  --clr-midnight-blue: #41729f;
  --clr-blue-gray: #5885af;
  --clr-light-blue: #7cb1f8;
  --clr-dark-blue: #274472;
  --clr-deep-blue: #0b1d39;
  --clr-baby-blue: #c3e0e5;
  --btn-color: #2563eb;
  --clr-green: #28a212;
  --container-width-lg: 95%;
  --container-width-md: 90%;
  --background: #f5fdff;
  --radius: 5px;
  --padding: 0.8rem 1.8rem;
  --transition: all 400ms ease;
  --shadow: 0 2rem 3rem rgba(43, 46, 71, 0.18);
}

/*
  =============== General Styles ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: 0;
  text-decoration: none;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: var(--background);
  color: var(--clr-black);
  line-height: 1.2;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: var(--container-width-lg);
  margin: auto;
  max-width: 1970px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}

img {
  object-fit: cover;
  display: block;
  width: 100%;
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--clr-white);
  background: var(--btn-color);
  padding: 0.8rem 1.1rem;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;
  border: 1px solid var(--clr-blue-gray);
  transition: var(--transition);
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 0;
}

.btn:hover {
  background: var(--clr-light-blue);
  color: var(--clr-black);
}

/* =====For Medium screens====== */

@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}
/* =====For Small screens====== */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
}
